@font-face{font-family:appleLogo;src:local("Lucida Grande");unicode-range:U+F8FF}
@media only screen and (max-width:640px){nav.top ul .download_slack{display:none}
}
a{color:#48A0DE}
section{clear:both;padding:0;margin:0 auto;box-sizing:border-box;max-width:1014px;padding-left:1.59rem;padding-right:1.59rem}
section h1{font-size:30px;line-height:2.25rem;font-weight:400;margin:0}
section p{line-height:1.62rem}
section .grid:after,section .grid:before{content:" ";font-size:0;display:table}
section .grid:after{clear:both}
#page{margin-top:500px;box-shadow:0 25px 50px rgba(0,0,0,.1)}
.detail{height:470px;padding:25px 0}
.detail h1,.detail p{width:470px}
.detail p{opacity:.75}
.detail strong{font-weight:900}
.detail section{position:relative}
.detail#email,.detail#integrations{border-bottom:1px solid #E5E5E5}
.detail#email [data-screen=mobile]{display:none}
.detail#email h1{padding-top:100px;max-width:430px}
.detail#email .background{top:25px;right:-40px}
.detail#integrations section{padding-left:475px}
.detail#integrations h1{padding-top:80px}
.detail#integrations .background{top:36px;left:-45px}
.detail#wherever h1{padding-top:110px}
.detail#wherever .background{top:50px;right:60px}
.detail#everywhere .btn,.detail#integrations .btn,.detail#wherever .btn{box-sizing:border-box;display:inline-block;height:50px;line-height:2.875rem;padding:0 20px;border:2px solid rgba(0,0,0,.3);border-radius:4px;font-weight:700;color:rgba(0,0,0,.4);text-decoration:none;margin-top:10px}
.detail#enterprise{background-color:#2C2D31;color:#fff;height:550px}
.detail#enterprise section{padding-left:475px}
.detail#enterprise h1{padding-top:146px;width:480px;font-family:Slack-Lato,appleLogo,sans-serif;font-weight:900}
.detail#enterprise p{margin-top:15px;margin-bottom:26px}
.detail#enterprise .background{top:82px;left:14px}
.detail#enterprise .btn_outline:after{border:2px solid rgba(255,255,255,.5)}
.detail#enterprise .btn_outline.btn_transparent:hover{color:#2C2D31!important}
@media only screen and (max-width:1024px){.detail h1,.detail p{width:400px}
.detail#email .background{right:0}
.detail#integrations section{padding-left:500px}
.detail#integrations .background{left:1.689rem}
.detail#wherever .background{right:1.689rem}
}
@media only screen and (max-width:940px){.detail{height:auto!important;padding:2.125rem 0}
.detail h1,.detail p{display:block;width:100%}
.detail h1{padding-top:1.59rem!important}
.detail p{margin-bottom:0}
.detail .background{position:static;display:block;max-width:100%;margin:0 auto}
.detail#email [data-screen=desktop]{display:none}
.detail#email [data-screen=mobile]{display:block}
.detail#integrations section{padding-left:1.59rem}
.detail#integrations .background{left:1.59rem}
.detail#wherever h1{padding-top:0!important}
.detail#everywhere .btn,.detail#integrations .btn,.detail#wherever .btn{margin-top:1.59rem}
}
@media only screen and (max-width:640px){.detail#enterprise .btn,.detail#everywhere .btn,.detail#integrations .btn,.detail#wherever .btn{width:100%;text-align:center}
}
.detail{background:#fff}
.detail .background{position:absolute}
.detail#communicate,.detail#drag_drop_share,.detail#tools{border-bottom:1px solid #E5E5E5}
.detail#communicate{padding:3.19rem 0;height:auto;overflow:hidden}
@media only screen and (max-width:945px){.detail#communicate{padding:50px 0 0}
}
.detail#communicate h1{width:100%;text-align:center;font-size:56.2px;font-weight:900;line-height:3.83rem;padding:1.06rem 0 4.78rem}
.detail#communicate .ways{width:455px;margin-top:50px}
@media only screen and (max-width:945px){.detail#communicate .ways{margin-top:0;margin-bottom:1.06rem;width:100%}
}
@media only screen and (max-width:640px){.detail#communicate .ways{height:7.44rem}
}
@media only screen and (max-width:470px){.detail#communicate .ways{height:8.5rem}
}
@media only screen and (max-width:365px){.detail#communicate .ways{height:12.75rem}
}
.detail#communicate .way{width:455px;padding:25px 34px;cursor:pointer;border-radius:10px}
.detail#communicate .way h3,.detail#communicate .way p{width:387px}
.detail#communicate .way h3{font-size:22px;font-weight:900;margin:0 0 .27rem}
.detail#communicate .way p{margin:0}
.detail#communicate .way:hover h3,.detail#communicate .way:hover p{opacity:1}
.detail#communicate[data-highlight=calls] .way[data-highlight=calls],.detail#communicate[data-highlight=channel] .way[data-highlight=channel],.detail#communicate[data-highlight=dm] .way[data-highlight=dm],.detail#communicate[data-highlight=group] .way[data-highlight=group]{background:rgba(58,163,227,.1)}
.detail#communicate[data-highlight=calls] .way[data-highlight=calls] h3,.detail#communicate[data-highlight=channel] .way[data-highlight=channel] h3,.detail#communicate[data-highlight=dm] .way[data-highlight=dm] h3,.detail#communicate[data-highlight=group] .way[data-highlight=group] h3{opacity:1;color:#3aa3e3}
.detail#communicate[data-highlight=calls] .way[data-highlight=calls] p,.detail#communicate[data-highlight=channel] .way[data-highlight=channel] p,.detail#communicate[data-highlight=dm] .way[data-highlight=dm] p,.detail#communicate[data-highlight=group] .way[data-highlight=group] p{opacity:1}
@media only screen and (max-width:945px){.detail#communicate .way{padding:0;width:100%;display:none;cursor:default}
.detail#communicate .way h3,.detail#communicate .way p{opacity:1;width:100%}
.detail#communicate .way h3{color:#3aa3e3}
.detail#communicate[data-highlight=calls] .way[data-highlight=calls],.detail#communicate[data-highlight=channel] .way[data-highlight=channel],.detail#communicate[data-highlight=dm] .way[data-highlight=dm],.detail#communicate[data-highlight=group] .way[data-highlight=group]{background:0 0;display:block}
}
.detail#communicate[data-highlight=calls] .highlight[data-highlight=calls]{background-position:center center;top:0;left:0;transform:translate3d(10vw,25%,0)}
@media only screen and (max-width:1023px){.detail#communicate[data-highlight=calls] .highlight[data-highlight=calls]{transform:translate3d(25%,25%,0)}
}
.detail#communicate .switcher{width:66px;height:26px;background:rgba(0,0,0,.5);border-radius:13px;padding:8px 10px;margin:0 auto;display:none}
.detail#communicate .switcher .circle{display:block;float:left;width:10px;height:10px;border:1px solid #fff;border-radius:5px;margin-right:8px;opacity:.6}
.detail#communicate .switcher .circle:last-of-type{margin-right:0}
@media only screen and (max-width:945px){.detail#communicate[data-highlight=calls] .highlight[data-highlight=calls]{transform:translate3d(-50%,25%,0);left:50%}
.detail#communicate .switcher{display:block}
.detail#communicate .highlight_wrapper{flex-direction:column}
}
.detail#communicate[data-highlight=calls] .circle[data-highlight=calls],.detail#communicate[data-highlight=channel] .circle[data-highlight=channel],.detail#communicate[data-highlight=dm] .circle[data-highlight=dm],.detail#communicate[data-highlight=group] .circle[data-highlight=group]{opacity:1;background:#fff}
.detail#communicate .highlight_wrapper{display:flex;position:relative}
@media only screen and (max-width:945px){.detail#communicate .highlight_wrapper .ways{height:6.38rem}
}
@media only screen and (max-width:640px){.detail#communicate .highlight_wrapper .ways{height:9.44rem}
}
@media only screen and (max-width:470px){.detail#communicate .highlight_wrapper .ways{height:11.5rem}
}
@media only screen and (max-width:365px){.detail#communicate .highlight_wrapper .ways{height:14.75rem}
}
.detail#communicate .highlight_wrapper .background{width:auto;height:auto;max-width:inherit}
.detail#communicate .highlight_wrapper .ways{flex:5}
.detail#communicate .highlight_wrapper .image_container{flex:4;top:3rem}
.detail#communicate .image_container{position:relative;top:80px;width:100%}
@media only screen and (max-width:1023px){.detail#communicate .image_container{margin-left:3.5rem}
}
@media only screen and (max-width:945px){.detail#communicate .image_container{width:100%;margin:0;background-image:url(/66f9/img/tour/ways_ssb.png);background-repeat:no-repeat;background-size:cover;height:40vh;min-height:400px}
.detail#communicate .image_container .background{display:none}
}
.detail#communicate .highlight{width:400px;height:413px;position:absolute;opacity:0;-webkit-transition:opacity .2s ease-out 0s;-moz-transition:opacity .2s ease-out 0s;transition:opacity .2s ease-out 0s;background-image:url(/858e/img/tour/ways_highlights.png);background-size:400px 1217px;background-repeat:no-repeat;left:-74px}
.detail#communicate .highlight[data-highlight=channel]{top:-55px;background-position:0 0}
.detail#communicate .highlight[data-highlight=dm]{top:85px;background-position:0 -800px}
.detail#communicate .highlight[data-highlight=calls]{background-image:url(/5a7a/img/tour/calls_window.png);background-size:contain;background-position:65px 0;top:4rem;left:2rem}
@media only screen and (max-width:945px){.detail#communicate .highlight{width:300px;height:300px;background-size:100%;left:-3rem}
.detail#communicate .highlight[data-highlight=channel]{top:-25px}
.detail#communicate .highlight[data-highlight=dm]{top:65px;background-position:0 -600px}
}
@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx){.detail#communicate .highlight{background-image:url(/858e/img/tour/ways_highlights@2x.png)}
.detail#communicate .highlight[data-highlight=calls]{background-image:url(/5a7a/img/tour/calls_window@2x.png)}
}
.detail#communicate[data-highlight=calls] .highlight[data-highlight=calls],.detail#communicate[data-highlight=channel] .highlight[data-highlight=channel],.detail#communicate[data-highlight=dm] .highlight[data-highlight=dm]{opacity:1}
.detail#drag_drop_share{height:500px}
.detail#drag_drop_share h1{padding-top:90px}
.detail#drag_drop_share section{padding-left:516px}
.detail#drag_drop_share .background{top:70px;left:1.59rem}
.detail#tools{height:500px}
.detail#tools h1{padding-top:110px}
.detail#tools .background{top:60px;right:1.59rem}
.detail#search{height:500px}
.detail#search section{padding-left:516px}
.detail#search h1{padding-top:90px}
.detail#search .background{top:70px;left:1.06rem}
.detail#everywhere{height:980px;background:#439fe0;color:#fff}
.detail#everywhere h1,.detail#everywhere p{opacity:1}
.detail#everywhere .btn{border-color:rgba(255,255,255,.75);color:#fff;background-color:transparent}
.detail#everywhere .everywhere{text-align:center}
.detail#everywhere .everywhere h1{width:100%;font-size:58px;line-height:64px;font-weight:900;padding-top:50px}
.detail#everywhere .everywhere p{width:790px;margin:1.06rem auto 0}
.detail#everywhere .everywhere .btn{margin-top:1.06rem}
.detail#everywhere .everywhere_img{display:block;margin:50px auto;padding-left:50px}
.detail#everywhere .everywhere_mobile{display:none}
.detail#everywhere hr{border:none;border-top:1px solid rgba(255,255,255,.2)}
.detail#everywhere .notifications p{margin:50px 0 0 500px;max-width:390px;line-height:24px}
.detail#everywhere .notifications .background{top:50px;left:2.13rem}
.detail#try{color:#2C2D30;position:relative;padding:0;height:390px;background-color:#F7F5F3;background-position:auto;background-repeat:repeat;background-size:1440px 600px;background-image:url(/a870/img/survey/survey_results_background.png)}
@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx){.detail#try{background-image:url(/1ee6/img/survey/survey_results_background@2x.png)}
}
.detail#try h1{padding-top:110px;font-family:Slack-Lato,appleLogo,sans-serif;font-weight:900}
.detail#try .lin_grad{background-image:-webkit-linear-gradient(bottom,#fff 0,rgba(255,255,255,0) 70%);background-image:-moz-linear-gradient(bottom,#fff 0,rgba(255,255,255,0) 70%);background-image:-o-linear-gradient(bottom,#fff 0,rgba(255,255,255,0) 70%);background-image:linear-gradient(to top,#fff 0,rgba(255,255,255,0) 70%);position:absolute;left:0;top:0;right:0;bottom:0}
.detail#try .background{top:60px;right:1.59rem}
.detail#try p{width:520px}
.detail#try p em{font-style:normal;font-family:Slack-Lato,appleLogo,sans-serif;font-weight:900;color:#e32072}
.detail#try .get_started_btn{background-color:transparent;color:#3aa3e3!important}
.detail#try .get_started_btn:after{border-color:#3aa3e3;border-width:2px}
.detail#try .get_started_btn:focus,.detail#try .get_started_btn:hover{background-color:#3aa3e3;color:#fff!important}
.detail#try .get_started_btn:active:after{box-shadow:inset 0 1px 1px rgba(0,0,0,.4)}
@media only screen and (max-width:640px){.detail#try .get_started_btn{width:100%}
}
@media only screen and (max-width:1023px){.detail{height:auto!important;padding:3.19rem 0!important}
.detail#try{border-bottom:1px solid #E5E5E5}
.detail#enterprise h1,.detail#enterprise p,.detail#try h1,.detail#try p{width:100%}
.detail h1,.detail p{display:block;width:100%}
.detail h1{padding-top:0!important}
.detail .headline{padding-bottom:3.19rem!important}
.detail p{margin-bottom:0}
.detail .background{position:static;display:block;max-width:100%;margin-left:auto;margin-right:auto;margin-bottom:2.13rem}
.detail section{padding-left:1.59rem!important}
.detail#everywhere .everywhere{display:none}
.detail#everywhere .everywhere_mobile{display:block}
.detail#everywhere hr{margin:40px 0}
.detail#everywhere .notifications .background{max-width:107%}
.detail#everywhere .notifications p{margin-left:auto;margin-right:auto;margin-top:1.06rem;max-width:380px}
.detail .get_started_btn{margin-top:1.06rem}
}
.signup{text-align:center}
.signup .btn{display:inline-block;font-family:Slack-Lato,sans-serif;font-size:19.9px;font-weight:700;text-decoration:none;border:1px solid #56B68B;border-radius:4px;background:#56B68B;color:#fff;line-height:3.749rem;padding:0 22px}
.signup small{display:block;margin-top:20px;font-size:16px;color:#2E2E31}
.signup strong{font-weight:900}
.signup.bottom,.signup.top{font-size:19.9px;padding:55px 0;border-bottom:1px solid #E8E8E8}
.signup.bottom.cta,.signup.top.cta{padding:0}
.signup.bottom.cta div,.signup.top.cta div{display:block;padding:0;background:#3A4149;border-radius:0}
.signup.bottom.cta h1,.signup.top.cta h1{width:100%;margin-right:0}
.signup.bottom div,.signup.top div{display:inline-block;padding:32px;background:#EFF1F4;border-radius:8px}
.signup.bottom h1,.signup.top h1{text-align:left;width:400px;font-size:21.9px;line-height:1.875rem;display:inline-block;vertical-align:middle;margin-right:30px}
.signup.bottom .btn,.signup.top .btn{vertical-align:middle}
@media only screen and (max-width:640px){.signup.bottom,.signup.top{padding:0;border:none}
.signup.bottom div,.signup.top div{border-radius:0}
.signup.bottom h1,.signup.top h1{width:100%;text-align:center;margin-bottom:1.59rem}
.signup.bottom .btn,.signup.top .btn{width:100%}
.signup.bottom small,.signup.top small{background:#EFF1F4;margin-top:0;padding:0 1.06rem 32px;color:#9e9ea6}
.signup.bottom small{background:0 0}
}
.signup.bottom{border-bottom:none}
.signup.bottom div{background:0 0;border:1px solid #dcdcdc}
@media only screen and (max-width:780px){.signup.bottom div{border:none}
}
#communicate.detail .headline{margin:auto;width:900px}
@media only screen and (max-width:640px){#communicate.detail .headline{width:100%;font-size:32.2px;line-height:2.66rem}
}
@media only screen and (max-width:320px){#communicate.detail .headline{font-size:25.4px}
}